In [27]:
import pandas as pd
dataCust = pd.read_csv("AWCustomers.csv")
dataSales = pd.read_csv("AWSales.csv")

In [28]:
dataCust.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [29]:
dataSales.columns

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')

In [30]:
dataCust.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [31]:
dataSales.drop(['CustomerID'],axis=1,inplace=True)

In [32]:
df=pd.concat([dataCust,dataSales],axis=1)

In [33]:
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1.0,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1.0,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1.0,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1.0,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1.0,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,F,M,0,1,0,2,52953,2017-03-06,NaN,NaN
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,F,S,0,2,0,0,60992,2017-03-06,NaN,NaN
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,F,S,0,2,0,0,51859,2017-03-06,NaN,NaN
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,F,S,0,0,0,0,87177,2017-03-06,NaN,NaN
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,F,M,1,2,0,0,136856,2017-03-06,NaN,NaN

In [34]:
df.drop(['Title','MiddleName','Suffix','AddressLine2'],axis=1,inplace=True)

In [35]:
df

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,M,1,3,0,1,81916,2017-03-06,1.0,50.97
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,M,1,2,1,2,81076,2017-03-06,1.0,53.11
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,F,S,0,3,0,0,86387,2017-03-06,1.0,54.08
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,M,1,2,1,2,61481,2017-03-06,1.0,56.93
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,M,S,1,1,0,0,51804,2017-03-06,1.0,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,1990-11-11,...,F,M,0,1,0,2,52953,2017-03-06,NaN,NaN
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,...,F,S,0,2,0,0,60992,2017-03-06,NaN,NaN
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,...,F,S,0,2,0,0,51859,2017-03-06,NaN,NaN
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,...,F,S,0,0,0,0,87177,2017-03-06,NaN,NaN
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,1986-03-26,...,F,M,1,2,0,0,136856,2017-03-06,NaN,NaN

In [36]:
df.describe()

,CustomerID,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
count,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18355.00000,18355.000000
mean,20241.987092,0.610588,1.270301,0.338162,0.850389,72754.779642,0.55173,51.767207
std,5336.332731,0.487630,0.913989,0.568957,0.927315,30686.014313,0.49733,3.438024
min,11000.000000,0.000000,0.000000,0.000000,0.000000,25435.000000,0.00000,44.100000
25%,15621.000000,0.000000,1.000000,0.000000,0.000000,53312.000000,0.00000,49.410000
50%,20248.000000,1.000000,1.000000,0.000000,0.000000,61851.000000,1.00000,51.420000
75%,24863.000000,1.000000,2.000000,1.000000,2.000000,87410.000000,1.00000,53.600000
max,29483.000000,1.000000,5.000000,3.000000,3.000000,139115.000000,1.00000,65.290000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   FirstName             18361 non-null  object
 2   LastName              18361 non-null  object
 3   AddressLine1          18361 non-null  object
 4   City                  18361 non-null  object
 5   StateProvinceName     18361 non-null  object
 6   CountryRegionName     18361 non-null  object
 7   PostalCode            18361 non-null  object
 8   PhoneNumber           18361 non-null  object
 9   BirthDate             18361 non-null  object
 10  Education             18361 non-null  object
 11  Occupation            18361 non-null  object
 12  Gender                18361 non-null  object
 13  MaritalStatus         18361 non-null  object
 14  HomeOwnerFlag         18361 non-null  int64
 15  NumberCarsOwned       18361 non-null  int64
 16  NumberChildrenAtHome  18361 non-null  int64
 17  TotalChildren         18361 non-null  int64
 18  YearlyIncome          18361 non-null  int64
 19  LastUpdated           18361 non-null  object
 20  BikeBuyer             18355 non-null  float64
 21  AvgMonthSpend         18355 non-null  float64
dtypes: float64(2), int64(6), object(14)
memory usage: 3.1+ MB

In [38]:
df.columns

Index(['CustomerID', 'FirstName', 'LastName', 'AddressLine1', 'City',
       'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber',
       'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
       'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
       'TotalChildren', 'YearlyIncome', 'LastUpdated', 'BikeBuyer',
       'AvgMonthSpend'],
      dtype='object')

In [39]:
discrete_var =[]
continous_var=[]
for c in df.columns:
  if df[c].dtype== 'float64':
    continous_var.append(c)
  if df[c].dtype=='int64':
    discrete_var.append(c)

print("discrete variables: ",discrete_var)
print("continous variables: ",continous_var)

discrete variables:  ['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
continous variables:  ['BikeBuyer', 'AvgMonthSpend']

In [40]:
nominal=[
    'CustomerID',
    'FirstName',
    'LastName',
    'AddressLine2',
    'City',
    'StateProvinceName',
    'CountryRegionName',
    'Gender',
    'MaritalStatus',
    'HomeOwnerFlag',
    'BikeBuyer'
]
ordinal=[]
ratio=[
    'YearlyIncome',
    'NumberCarsOwned',
    'NumberChildrenAtHome',
    'TotalChildren',
    'AvgMonthSpend',
    'YearlyIncome'
]
interval=[
    'BirthDate'
]
print("nominal: ",nominal)
print("ordinal: ",ordinal)
print("ratio: ",ratio)
print("interval: ",interval)

nominal:  ['CustomerID', 'FirstName', 'LastName', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'Gender', 'MaritalStatus', 'HomeOwnerFlag', 'BikeBuyer']
ordinal:  []
ratio:  ['YearlyIncome', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'AvgMonthSpend', 'YearlyIncome']
interval:  ['BirthDate']

### **Q2**

In [41]:
# (a) handling null values
# !pip install scikit-learn
from sklearn.impute import SimpleImputer
numerical_values= ['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren', 'AvgMonthSpend']
categorical_values=['Gender', 'MaritalStatus','HomeOwnerFlag', 'BikeBuyer']

numerical_imputer = SimpleImputer(strategy='mean')
categorical_imputer= SimpleImputer(strategy='most_frequent')

df[numerical_values]=numerical_imputer.fit_transform(df[numerical_values])
df[categorical_values]=categorical_imputer.fit_transform(df[categorical_values])

In [42]:
# (b)
# normalisation
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[numerical_values]=scaler.fit_transform(df[numerical_values])
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,M,1,0.6,0.000000,0.333333,0.496842,2017-03-06,1.0,0.324210
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,M,1,0.4,0.333333,0.666667,0.489453,2017-03-06,1.0,0.425201
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,F,S,0,0.6,0.000000,0.000000,0.536172,2017-03-06,1.0,0.470977
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,M,1,0.4,0.333333,0.666667,0.317083,2017-03-06,1.0,0.605474
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,M,S,1,0.2,0.000000,0.000000,0.231958,2017-03-06,1.0,0.533742

In [43]:
from sklearn.preprocessing import KBinsDiscretizer
binning_transformer = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform')
df['YearlyIncome_Binned'] = binning_transformer.fit_transform(df[['YearlyIncome']])

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[numerical_values]=scaler.fit_transform(df[numerical_values])
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend,YearlyIncome_Binned
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,1,1.892524,-0.594371,0.161342,0.298555,2017-03-06,1.0,-0.231924,1.0
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,1,0.798389,1.163279,1.239753,0.271180,2017-03-06,1.0,0.390646,1.0
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,S,0,1.892524,-0.594371,-0.917069,0.444261,2017-03-06,1.0,0.672838,1.0
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,1,0.798389,1.163279,1.239753,-0.367401,2017-03-06,1.0,1.501961,0.0
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,S,1,-0.295746,-0.594371,-0.917069,-0.682765,2017-03-06,1.0,1.059762,0.0

In [45]:
from sklearn.preprocessing import OneHotEncoder
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_categorical_features = encoder.fit_transform(df[categorical_features])
encoded_df = pd.DataFrame(encoded_categorical_features, columns=encoder.get_feature_names_out(categorical_features))
df = pd.concat([df, encoded_df], axis=1).drop(categorical_features, axis=1)

**Q3**

In [46]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import jaccard_score, pairwise_distances
from scipy.spatial.distance import cosine

In [47]:

def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [48]:

jaccard(df['YearlyIncome'],df['AvgMonthSpend'])

0.0

In [49]:
df['NumberChildrenAtHome_Binary'] = (df['NumberChildrenAtHome'] > 0).astype(int)
for bike_buyer_col in ['BikeBuyer_0.0', 'BikeBuyer_1.0']:
    jaccard_sim = jaccard_score(df['NumberChildrenAtHome_Binary'], df[bike_buyer_col])
    print(f"Jaccard Similarity between NumberChildrenAtHome_Binary and {bike_buyer_col}: {jaccard_sim}")

Jaccard Similarity between NumberChildrenAtHome_Binary and BikeBuyer_0.0: 0.2138122536725188
Jaccard Similarity between NumberChildrenAtHome_Binary and BikeBuyer_1.0: 0.23450479233226837

In [50]:
df['YearlyIncome'].corr(df['AvgMonthSpend'])

0.012200386558915565